<div class='center'>
  <form>
    <div class='form-group'>
      <label>Username</label>
      <input class='form-control' type='text' ng-model='vm.user.username'></input>
    </div>
    <div class='form-group'>
      <label>Enter email</label>
      <input class='form-control' type='email' ng-model='vm.user.email'></input>
    </div>
    <div class='form-group'>
      <label>Enter Password</label>
      <input class='form-control' type='password' ng-model='vm.user.password'></input>
    </div>
    <div class='form-group'>
      <label>Confirm Password</label>
      <input class='form-control' type='password' ng-model='vm.user.confirmPass'></input>
    </div>
    <div class='form-group text-center'>
      <a ng-click='vm.save(vm.user)' class='btn btn-default'>Save</a>
      <a ng-click='vm.cancel()' class='btn btn-danger'>Cancel</a>
    </div>
  </form>
</div>
