<div class='center'>
  <form id='form'>
    <div class='form-group'>
      <label>Username</label>
      <input class='form-control' type='text' ng-model='vm.form.username'></input>
    </div>
    <div class='form-group'>
      <label>Enter email</label>
      <input class='form-control' type='email' ng-model='vm.form.email'></input>
    </div>
    <div class='form-group'>
      <label>Enter Password</label>
      <input class='form-control' type='password' ng-model='vm.form.password'></input>
    </div>
    <div class='form-group'>
      <label>Confirm Password</label>
      <input class='form-control' type='password' ng-model='vm.form.confirmPass'></input>
    </div>
    <div class='form-group text-center'>
      <a ng-click='vm.save(vm.form)' class='btn btn-default'>Save</a>
      <a ng-click='vm.cancel()' class='btn btn-danger'>Cancel</a>
    </div>
  </form>
  <div id='messages'>
    <aside ng-if='vm.errors'>
      Error: {{vm.errors}}
    </aside>
    <aside ng-if='vm.success'>
      {{vm.success}}
    </aside>
  </div>
</div>
